VITE_SUPABASE_URL=https://ylrqxwyrugqsuqxtumqa.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable__RQzOkbsu0vcur5SYNHeVw_1g0er1oW
VITE_TELEGRAM_BOT_TOKEN=8946309865:AAFE0CWRJerpG1zESExRiDFCL6GATR0S1yE
VITE_TELEGRAM_CHAT_ID=YOUR_CHAT_ID
